<!DOCTYPE html>
<html>

<head>
    <title>ReelRx: About Us</title>
    <meta charset="UTF-8">

    <!-- Boostrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700">
    <!-- Our CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Navbar (sit on top) -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="index">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="reelrx">ReelRx
                <span class="sr-only">(current)</span>
              </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aboutus">About Us</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Data</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="viz1">User Viz</a>
                        <a class="dropdown-item" href="viz2">Genre Viz</a>
                        <a class="dropdown-item" href="datatable">Table</a>
                        <a class="dropdown-item" href="model">Model Info</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        <!-- About Section -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Meet the <a href="reelrx">ReelRx</a> Doctors</h3>
            </p>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/static/images/tiffany.jpg" alt="Tiffany" style="width:100%">
                <h3>Tiffany Burns</h3>
                <p class="w3-opacity">Data Analyst</p>
                <p>Data Analyst with a creative background in English from Oklahoma State University and skills in Excel, Python, SQL, and Tableau from Southern Methodist University's Data Science Bootcamp. Problem seeker and solver, skilled in mining and
                    cleaning data sets to observe and analyze trends.</p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/static/images/tim.png" alt="Tim" style="width: 66%" class="center">
                <h3>Tim Schurmann</h3>
                <p class="w3-opacity">Attorney and Data Scientist</p>
                <p>Tim is a Dallas-based practicing attorney with serious data skills. He is trained in Python, SQL, Excel, Tableau, and Javascript, among others, thanks to SMU's rigorous Data Science Bootcamp (certification pending). In his spare time,
                    Tim enjoys watching a wide array of films--with a "to watch" list courtesy of ReelRx.</p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/static/images/hoa.jpg" alt="hoa" style="width:100%">
                <h3>Hoa Roach</h3>
                <p class="w3-opacity">Developer and Data analyst</p>
                <p>Hoa is a Data Analyst with the ambition tell the story behind data for business decision making as well as pull the insights from data through interactive visualizations</p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/static/images/jammy.png" alt="Jammy" style="width:98%">
                <h3>Jammy Lo</h3>
                <p class="w3-opacity">Buyer and Data Analyst</p>
                <p>Jammy is an experience buyer and throughout the career life found her passion in pursuit of data handling and manipulating visualization in a pleasing way</p>
            </div>
        </div>


        <!-- End page content -->
    </div>

</body>

</html>