<!DOCTYPE html>
<html>
<title>ReelRx</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-deep-purple w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>ReelRx</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="index.html" class="w3-bar-item w3-button">Home</a>
                <a href="recommendor.html" class="w3-bar-item w3-button">Rx</a>
                <a href="dashboard.html" class="w3-bar-item w3-button">User Dashboard</a>
                <a href="datatable.html" class="w3-bar-item w3-button">The Data</a>
                <a href="aboutus.html" class="w3-bar-item w3-button">About Us</a>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        <!-- About Section -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Meet the Doctors</h3>
            </p>
        </div>

        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/images/tiffany.jpg" alt="Tiffany" style="width:100%">
                <h3>Tiffany Burns</h3>
                <p class="w3-opacity">Data Analyst</p>
                <p>Tiffany is a retail business analyst who enjoys deep diving into data to learn new insights. Tiffany loves dinosaurs and even won a contest as a child for memorizing over 100 different species by name!</p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/images/tim.jpg" alt="Tim" style="width:100%">
                <h3>Tim Schurmann</h3>
                <p class="w3-opacity">Data Scientist</p>
                <p>Tim is a Dallas based practicing attorney who enjoys diving into data whenever possible. In his spare time, Tim enjoys watching films such as Jurassic Park, The Land Before Time, and Land of the Lost.</p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/images/hoa.jpg" alt="hoa" style="width:100%">
                <h3>Hoa Roach</h3>
                <p class="w3-opacity">Developer and Data analyst</p>
                <p>Hoa is a Data Analyst with the ambition tell the story behind data for business decision making as well as pull the insights from data through interactive visualizations</p>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <img src="/images/jammy.png" alt="Jammy" style="width:100%">
                <h3>Jammy Lo</h3>
                <p class="w3-opacity">Buyer and Data Analyst</p>
                <p>Jammy is an experience buyer and throughout the career life found her passion in pursuit of data handling and manipulating visualization in a pleasing way</p>
            </div>
        </div>


        <!-- End page content -->
    </div>

</body>

</html>