<!DOCTYPE html>
<html>
<title>ReelRx</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-deep-purple w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button"><b>ReelRx</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="index.html" class="w3-bar-item w3-button">Home</a>
                <a href="recommendor.html" class="w3-bar-item w3-button">Rx</a>
                <a href="dashboard.html" class="w3-bar-item w3-button">User Dashboard</a>
                <a href="datatable.html" class="w3-bar-item w3-button">The Data</a>
                <a href="aboutus.html" class="w3-bar-item w3-button">About Us</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
        <img class="w3-image" src="/images/homepage.jpg" alt="movies" width="1500" height="800">
        <div class="w3-display-middle w3-margin-top w3-center">
            <img class="w3-image" src="/images/favicon.jpg" alt="icon">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Prescribing Movies for You</b></span</h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        <!-- About Section -->
        <div class="w3-container w3-padding-32" id="about">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
            <p>The ReelRx App utilizes data from the MovieLens 1M dataset. The dataset contain 1,000,209 anonymous ratings of approximately 3,900 movies made by 6,040 MovieLens users who joined MovieLens in 2000.
            </p>
        </div>
        </div>


        <!-- Image of location/map -->
        <div class="w3-container">
            <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
        </div>

        <!-- End page content -->
    </div>

</body>

</html>